    <!--بخش های فعال تر-->
    <section class='home_part5'>
        <div class='container'>
            <div class='inner clearfix'>
                <div class='store_style1'>
                    <div class='title_style2'>پرفروش ترین فایل ها </div>
                    <ul class='list'>

                        <li class='item right'>
                            <div class='pic' style='background-image:url(../../Content/_images/store/kich.jpg);'></div>
                            <div class='content'>
                                <div class='info'>
                                    <div class='name'>مدیر فایل: <span class='val'>ممد</span></div>
                                    <i class='slash'>/</i>
                                    <div class='name'>7 فایل</div>
                                </div>
                                <h1 class='title ellipsis'>آشپزی</h1>
                                <h2 class='sub_title ellipsis'>شرح کامل آشپزی</h2>
                                <div class='tcenter'>
                                    <a href='store/13' title='مواد غذایی و آشپزی' class='btn_style2'>
                                        مشاهده فایل
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class='item left'>
                            <div class="pic" style="background-image:url(../../Content/_images/store/music.jpg);"></div>
                            <div class='content'>
                                <div class='info'>
                                    <div class='name'>مدیر فایل: <span class='val'>ممد</span></div>
                                    <i class='slash'>/</i>
                                    <div class='name'>5 فایل</div>
                                </div>
                                <h1 class='title ellipsis'>موسیقی</h1>
                                <h2 class='sub_title ellipsis'>آموزش هنر موسیقی</h2>
                                <div class='tcenter'><a href='store/14' title='موسیقی و صدا سازی' class='btn_style2'>مشاهده فایل</a></div>
                            </div>
                        </li>


                    </ul><!--list-->
                </div><!--store_style-->
            </div><!--inner-->
        </div><!--container-->
    </section><!--home_part5-->