 <!--مطالب-->
<section class='home_part6'>
    <div class='container'>
        <div class='inner clearfix'>
            <div class='store_style2'>
                <div class='title_style2'>برخی از فایل ها</div>
                <p class='title_text'>در این قسمت به صورت تصادفی برخی از فایل های سایت نمایش داده می شوند. <br> </p>
                <ul class='list'>


                    <li class='item'>
                        <a href='store/27' title='تن ماهی ' class='pic' style='background-image:url(../../Content/_images/file/style2.png);'>
                            <p style="background-color:rgba(144,80,146,0.85);" class='title ellipsis'>تن ماهی </p>
                        </a>
                        <div class='content'>
                            <div class='file item2'><i class='fa fa-folder-open-o' style="display:block !important ;color:#cc6dcf; font-size:16px;"></i><span class='val'>0 فایل</span></div>
                            <div class='info half item2'>
                                <div class='name'>مدیر فایل: </div><div class='val'>ممد</div>
                            </div>
                            <div class='visit item2'><i class='fa fa-eye' style="display:block !important ;color:#cc6dcf; font-size:16px;"></i><span class='val'>511 بازدید</span></div>
                        </div>
                    </li>

                    <li class='item'>
                        <a href='store/25' title='دانشجوی موفق' class='pic' style='background-image:url(../../Content/_images/file/hr2yd.jpg);'>
                            <p style="background-color:rgba(144,80,146,0.85);" class='title ellipsis'>دانشجوی موفق</p>
                        </a>
                        <div class='content'>
                            <div class='file item2'><i class='fa fa-folder-open-o' style="display:block !important ;color:#cc6dcf; font-size:16px;"></i><span class='val'>1 فایل</span></div>
                            <div class='info half item2'>
                                <div class='name'>مدیر فایل: </div><div class='val'>ممد </div>
                            </div>
                            <div class='visit item2'><i class='fa fa-eye' style="display:block !important ;color:#cc6dcf; font-size:16px;"></i><span class='val'>857 بازدید</span></div>
                        </div>
                    </li>

                    <li class='item'>
                        <a href='store/13' title='مواد غذایی و آشپزی' class='pic' style='background-image:url(../../Content/_images/file/kih3p.jpg);'>
                            <p style="background-color:rgba(144,80,146,0.85);" class='title ellipsis'>مواد غذایی و آشپزی</p>
                        </a>
                        <div class='content'>
                            <div class='file item2'><i class='fa fa-folder-open-o' style="display:block !important ;color:#cc6dcf; font-size:16px;"></i><span class='val'>7 فایل</span></div>
                            <div class='info half item2'>
                                <div class='name'>مدیر فایل: </div><div class='val'>ممد</div>
                            </div>
                            <div class='visit item2'><i class='fa fa-eye' style="display:block !important ;color:#cc6dcf; font-size:16px;"></i><span class='val'>2170 بازدید</span></div>
                        </div>
                    </li>




                </ul><!--list-->
            </div><!--store_style-->
        </div><!--inner-->
    </div><!--container-->
</section><!--home_part6-->
