 <!--اسلایدر-->
<section id='home_part1'>
    <div class='container'>
        <div class='inner clearfix'>

            <div class="home_slideshow">
                <div class="slideshow_pics">
                    <ul class='list'>

                        <li class='item' style='background-image:url(../../Content/_images/file/ep12d.jpg);'><a href='' title="" target='_blank'></a></li>
                        <li class='item' style='background-image:url(../../Content/_images/file/oc6kd.jpg);'><a href='' title="" target='_blank'></a></li>
                        <li class='item' style='background-image:url(../../Content/_images/file/6gne9.jpg);'><a href='' title="" target='_blank'></a></li>
                        <li class='item' style='background-image:url(../../Content/_images/file/lorw1.jpg);'><a href='' title="" target='_blank'></a></li>


                    </ul>
                </div><!--end slideshow-->
                <div class="slideshow_bullets">
                    <ul>
                        <li style='width:25%'><a href='' class='ellipsis'>اسلاید اول</a></li>
                        <li style='width:25%'><a href='' class='ellipsis'>اسلاید دوم</a></li>
                        <li style='width:25%'><a href='' class='ellipsis'>اسلاید سوم</a></li>
                        <li style='width:25%'><a href='' class='ellipsis'>اسلاید چهارم</a></li>

                    </ul>
                </div><!--end slideshow_bullets-->
            </div><!--end home_slideshow-->
            <!--archive -->

            <div class='clear'></div>
        </div><!--inner-->
    </div><!--container-->
</section><!--home_part1-->

<style>
    .eye {
        color: #32BFB6;
        font-size: 1.2rem;
        float: left;
        margin-right: 3px;
        position: relative;
        bottom: -2px;
        font-family: at1;
    }
</style>


<!--sokhan -->
